{% unless site.blogroll == empty %}
  <section>
    <nav id="menu_blogroll">
      <ul>
        {% for menu in site.blogroll %}
          {% unless menu.items == empty %}
            <li>
              <section>
                <nav>
                  <h3>{{ menu.title }}</h3>
                  <ul>
                    {% for menu_item in menu.items %}
                      <li class="menu-item {{ menu_item.url | text_if_current}}">
                        <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </nav>
              </section>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </nav>
  </section>
{% endunless %}
