{% assign hide_header = true %}

<div id="main">
  <h1>404 Not Found</h1>
  <p>Sorry, but we couldn't find the post you were looking for.</p>
  <p>Maybe try <a href="{{ site.url }}">here</a>?</p>
</div>
