{% assign show_back_to_blog = true %}

<div id="main">
  <article class="post">
    {% include 'page' %}
  </article>
</div>

<aside id='sidebar'>
  {% include 'nav_menu' %}
  {% include 'bio' %}
</aside>
